In [ ]:
import os 
os.getcwd()

In [ ]:
#python Collection data type 
#Arrays & matirx
#Data frame

In [1]:
myfirstlist=[32,22,34,34,34,33,21,22,22,34,55]

In [2]:
myfirstlist[0]

32

In [3]:
myfirstlist[6]

21

In [4]:
myfirstlist

[32, 22, 34, 34, 34, 33, 21, 22, 22, 34, 55]

In [5]:
myfirstlist

[32, 22, 34, 34, 34, 33, 21, 22, 22, 34, 55]

In [7]:
myfirstlist[1:5]

[22, 34, 34, 34]

In [8]:
myfirstlist[1:]

[22, 34, 34, 34, 33, 21, 22, 22, 34, 55]

In [9]:
myfirstlist[:4]

[32, 22, 34, 34]

In [10]:
myfirstlist[4:-1]

[34, 33, 21, 22, 22, 34]

In [11]:
myfirstlist

[32, 22, 34, 34, 34, 33, 21, 22, 22, 34, 55]

In [12]:
myfirstlist[-4:-1]

[22, 22, 34]

In [13]:
myfirstlist[-1:-5]#empty list because reverse can't be returned slicing always happens left to right

[]

In [14]:
myfirstlist[-1:-5:-1]#setting -1 will make slicing rgiht to left

[55, 34, 22, 22]

In [16]:
language =[['Eng','hindi'],['Hin'],["eng"],'URDU']

In [17]:
language

[['Eng', 'hindi'], ['Hin'], ['eng'], 'URDU']

In [18]:
#length properties
len(language)

4

In [19]:
len(myfirstlist)

11

In [20]:
type(language[1])#to find out data type of 1st element

list

In [21]:
language[0][1]

'hindi'

In [22]:
type(language[0][1])

str

In [27]:
mylist= [1,1.20,'string',True]#list of element of different data type

In [28]:
mylist

[1, 1.2, 'string', True]

In [29]:
mylist.append('True')

In [30]:
mylist

[1, 1.2, 'string', True, 'True']

In [31]:
type(mylist[0])

int

In [32]:
type(mylist[1])

float

In [33]:
type(mylist[2])

str

In [34]:
type(mylist[3])

bool

In [35]:
type(mylist[4])

str

In [36]:
myfirstlist.append(10)

In [37]:
myfirstlist

[32, 22, 34, 34, 34, 33, 21, 22, 22, 34, 55, 10]

In [38]:
myfirstlist.clear()

In [39]:
myfirstlist

[]

In [40]:
myfirstlist=[32, 22, 34, 34, 34, 33, 21, 22, 22, 34, 55, 10]

In [41]:
myfirstlist

[32, 22, 34, 34, 34, 33, 21, 22, 22, 34, 55, 10]

In [42]:
myfirstlist.count(34)

4

In [43]:
myfirstlist.extend(language)

In [44]:
myfirstlist

[32,
 22,
 34,
 34,
 34,
 33,
 21,
 22,
 22,
 34,
 55,
 10,
 ['Eng', 'hindi'],
 ['Hin'],
 ['eng'],
 'URDU']

In [45]:
myfirstlist.index(10)#takes element and return first index of that element

11

In [47]:
myfirstlist.index(['Hin'])# here'Hin' is value and 13 is the idex where its stored

13

In [48]:
myfirstlist.insert(2,1)#take value(1) and index(2) both and store it repective location in the list insert(index,value)

In [49]:
myfirstlist

[32,
 22,
 1,
 34,
 34,
 34,
 33,
 21,
 22,
 22,
 34,
 55,
 10,
 ['Eng', 'hindi'],
 ['Hin'],
 ['eng'],
 'URDU']

In [50]:
mylist

[1, 1.2, 'string', True, 'True']

In [55]:
mylist.insert(2,"Rahul")

In [56]:
mylist

[1, 1.2, 'Rahul', 'string', 'Rahul', 'Rahul', True, 'True']

In [57]:
mylist.pop(2)#pop take index and return value at the index

'Rahul'

In [58]:
mylist.remove(True)#take element as argment and remove it from list Note

In [59]:
mylist

[1.2, 'string', 'Rahul', 'Rahul', True, 'True']

In [60]:
mylist.remove('True')

In [61]:
mylist

[1.2, 'string', 'Rahul', 'Rahul', True]

In [62]:
mylist.remove(True)

In [63]:
mylist

[1.2, 'string', 'Rahul', 'Rahul']

In [64]:
myfirstlist

[32,
 22,
 1,
 34,
 34,
 34,
 33,
 21,
 22,
 22,
 34,
 55,
 10,
 ['Eng', 'hindi'],
 ['Hin'],
 ['eng'],
 'URDU']

In [65]:
myfirstlist=[32, 22, 34, 34, 34, 33, 21, 22, 22, 34, 55]

In [66]:
myfirstlist.append(10)

In [67]:
myfirstlist

[32, 22, 34, 34, 34, 33, 21, 22, 22, 34, 55, 10]

In [68]:
myfirstTuple = tuple(myfirstlist)#converting a list to a tuple by passing the list name as parameter

In [69]:
myfirstTuple

(32, 22, 34, 34, 34, 33, 21, 22, 22, 34, 55, 10)

In [70]:
myfirstTuple.count(34)#takes element of tuple and give its count ie 4

4

In [71]:
myfirstTuple.index(34)#give indec of passed value

2

In [72]:
mytuple=(1,2,3,[4,5,6])#tuple of list

In [73]:
mytuple

(1, 2, 3, [4, 5, 6])

In [74]:
#dictionary keyvalue pair

In [75]:
myfirstdict = {'customer_name':'Dhirendra','segment':'python','region':'North'}

In [76]:
myfirstdict

{'customer_name': 'Dhirendra', 'segment': 'python', 'region': 'North'}

In [79]:
myfirstdict.keys()#remember key doesn't take any argument

dict_keys(['customer_name', 'segment', 'region'])

In [80]:
myfirstdict.values()

dict_values(['Dhirendra', 'python', 'North'])

In [81]:
#adding a key pair in the dictinary
myfirstdict['order_id']="ABCD"

In [82]:
myfirstdict

{'customer_name': 'Dhirendra',
 'segment': 'python',
 'region': 'North',
 'order_id': 'ABCD'}

In [83]:
myfirstdict['orderid']=myfirstdict.pop('order_id')

In [84]:
myfirstdict

{'customer_name': 'Dhirendra',
 'segment': 'python',
 'region': 'North',
 'orderid': 'ABCD'}

In [85]:
myfirstdict['region']

'North'

In [90]:
dict1={1:4,4:5}
dict2={2:4,1:6} #combining the dictionary & check key is same between the pairs

In [91]:
dict1.update(dict2)#update the dict1 witg dict2 key pair

In [92]:
dict1

{1: 6, 4: 5, 2: 4}

In [95]:
myfirstset={1,1,2,3,4,5,3,46,7,8,7,54,3,2} #no indentation is done here

In [96]:
type(myfirstset)

set

In [97]:
myfirstset

{1, 2, 3, 4, 5, 7, 8, 46, 54}